@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    dark:bg-trueGray-900;
  }
  .news-card {
    display: flex;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
  }
  
  .news-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .news-text {
    margin-left: 15px;
  }
  
  .news-title {
    margin: 0;
    font-size: 20px;
  }
  
  .news-description {
    margin-top: 10px;
    font-size: 16px;
  }
}
